@using HRTechProject.Entities
@model ApplicationUser

@{
	ViewData["Title"] = "Bilgilerim";
    ViewData["Baslik"] = "Bilgilerim";

}

@if (Model.Meslek != null && Model.Departman != null && Model.Adres != null)
{
    
        <div class="container py-3">           

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="~/img/personel/@Model.FotografYolu" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">@Model.Ad @Model.Ad2 @Model.Soyad @Model.Soyad2</h5>
                            <p class="text-muted mb-1">@Model.Meslek.Ad</p>                      
                            <div class="d-flex justify-content-center mb-2">
                            <a class="btn btn-info mt-5 w-100" style="color: white;" asp-controller="Personel" asp-action="Details">Detaylar</a>
                        </div>
                            <div class="d-flex justify-content-center mb-2">
                            <a class="btn btn-info mt-1 w-100" style="color: white;" asp-controller="Personel" asp-action="Harcamalarim">Harcamalarım</a>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a class="btn btn-info mt-1 w-100" style="color: white;" asp-controller="Personel" asp-action="Izin">İzinlerim</a>
                            </div>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="btn btn-info mt-1 w-100" style="color: white;" asp-controller="Personel" asp-action="Avans">Avanslarım</a>
                        </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">                            
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Departman</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Departman.Ad</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Adres</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Adres.Mahalle Mah. @Model.Adres.Sokak Cad/Sok. No:@Model.Adres.KapiNo/@Model.Adres.DaireNo @Model.Adres.Ilce/@Model.Adres.Il</p>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
   
}