@using ApplicationCore.Entities
@model List<Avans>

@{
    ViewData["Title"] = "Yönetici Avans Paneli";
}

<div class="container">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">                      
                    <div>
                        <div class="p-2 my-3 bg-info bg-gradient text-white justify-content-center d-flex align-items-center">
                            <h4>Bekleyen Avanslar</h4>
                        </div>
                        <table class="table table-primary table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Personel
                                    </th>
                                    <th>
                                        Avans Tarihi
                                    </th>
                                    <th>
                                        Avans Türü
                                    </th>
                                    <th>
                                        Tutar
                                    </th>
                                    <th>
                                        Durumu
                                    </th>                                   
                                    
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var avans in Model)
                                {
                                    <tr>
                                        <td>
                                            @avans.ApplicationUser.Ad @avans.ApplicationUser.Ad2 @avans.ApplicationUser.Soyad @avans.ApplicationUser.Soyad2
                                        </td>
                                        <td>
                                            @avans.Tarih.ToShortDateString()
                                        </td>
                                        <td>
                                            @avans.Tur
                                        </td>
                                        <td>
                                            @avans.Tutar
                                        </td>
                                        <td>
                                            @avans.Durum
                                        </td>
                                        
                                        <td>
                                            <a href="@Url.Action("AvansOnay", "SirketYoneticisi", new { id = avans.Id })" class="btn btn-success">Onayla</a>
                                            <a href="@Url.Action("AvansRed", "SirketYoneticisi", new { id = avans.Id })" class="btn btn-danger">Reddet</a>                                           
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link @(ViewBag.PageNumber == 1 ? "disabled" : "")" href="@Url.Action("BekleyenAvanslar", new { page = ViewBag.PageNumber - 1 })">Önceki</a></li>

                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("BekleyenAvanslar", new { page = i })">@i </a></li>
                                }
                                <li class="page-item"><a class="page-link @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : ViewBag.TotalPages == 0 ? "disabled" : "")" href="@Url.Action("BekleyenAvanslar", new { page = ViewBag.PageNumber + 1 })">Sonraki</a></li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
