@if (ViewBag.p != null)
{
	<div class="alert alert-success">Personel Eklendi</div>
}
<div class="content container-fluid">
	<div class="row">			
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="card dash-widget">
				<div class="card-body">
					<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
					<div class="dash-widget-info">
						<h3>@ViewBag.AktifCalisanSayisi</h3>
						<span>Toplam Aktif Personel Sayısı</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="card dash-widget">
				<div class="card-body">
					<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
					<div class="dash-widget-info">
						<h3>@ViewBag.PasifCalisanSayisi</h3>
						<span>Toplam Pasif Personel Sayısı</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="card dash-widget">
				<div class="card-body">
					<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
					<div class="dash-widget-info">
						<h3>@ViewBag.DepartmanSayisi</h3>
						<span>Toplam Departman Sayısı</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
			<div class="card dash-widget">
				<div class="card-body">
					<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
					<div class="dash-widget-info">
						<h3>@ViewBag.MeslekSayisi</h3>
						<span>Toplam Meslek Sayısı</span>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div class="card-group m-b-30">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3">
							<div>
								<span class="d-block">Yeni Çalışan Sayısı(1 Haftalık)</span>
							</div>							
						</div>
						<h3 class="mb-3">@ViewBag.YeniCalisanlar</h3>					
					</div>
				</div>

				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3">
							<div>
								<span class="d-block">Toplam Bekleyen Harcama Tutarı</span>
							</div>
						</div>
						<h3 class="mb-3">@ViewBag.BekleyenHarcamaTutari₺</h3>

					</div>
				</div>

				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3">
							<div>
								<span class="d-block">Toplam Onaylanan Harcama Tutari</span>
							</div>							
						</div>
						<h3 class="mb-3">@ViewBag.OnaylananHarcamaTutari₺</h3>						
					</div>
				</div>

				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between mb-3">
							<div>
								<span class="d-block">Toplam Reddedilen Harcama Tutarı</span>
							</div>							
						</div>
						<h3 class="mb-3">@ViewBag.RedHarcamaTutari₺</h3>
						
					</div>
				</div>

				
			</div>
		</div>
	</div>

</div>